.main {
  height: 100vh;
  width: 100%;
}

header {
  position: relative;
  height: 170px;
  background: linear-gradient(to bottom, #000000, #ee0979, #ff6a00);
}

h1 {
  padding: 30px 0;
  font: 50px "Arial";
  text-align: center;
  font-weight: 900;
  -webkit-text-stroke: 3px black;
}

h4{
  color: #9933ff;
}

.first {
  color: #00ff99;
}

.second {
  color: #fff35c;
}

.third {
  color: #ff6666;
}

.forth {
  color: #9933ff;
}

.last {
  color: #00ccff;
}

svg  {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  
}

svg polygon{
  fill: #000;
}

.logo {
  height: 60px;
  background: transparent;
  padding-bottom: 10px;
}

.wrapper-bottom {
  background: linear-gradient(to bottom, #000000, #100c01, #242424);
  min-height: 80vh;
}

.default-btn {
  width: 100%;
  margin: 10px 0;
  width: 33%;
  font-size: 20px;
  
  color: #242424;
  font-weight: 700;
  border: #000000 solid 2px;
  height: 50px;
}

#popular-gif{
  background: linear-gradient(to right, #00ccff, #9933ff);
}
#random-gif{
  background: linear-gradient(to right, #9933ff, #00ccff, #9933ff);
}
#reaction-gif{
  background: linear-gradient(to right,#9933ff, #00ccff);
}

.new-btn {
  width: 100%;
  margin: 10px 0;
  width: 80%;
  background: linear-gradient(to right, #00ccff, #9933ff);
  color: #000;
  font-weight: 700;
  border: #000000 solid 2px;
  cursor: pointer;
}

.default-btn-text {
  color: #f1f1f1;
  background: #242424;
  background: -webkit-linear-gradient(right, #000 , #242424);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f1f1f1;
}

.new-btn:hover {
  background: #fff;
  cursor: pointer;
}

.default-btn:hover {
  background: #fff;
  cursor: pointer;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  height: 50px;
}

form.example button {
  text-align: center;
  float: left;
  width: 20%;
  padding: 10px;
  background: #9933ff;
  color: #242424;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  height: 50px;
  margin: 0 auto;
}

form.example button:hover {
  background: #b871ff;
}

form.example button:active {
  background: #fff;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

#gifs-view{
  width: 100%;
}

@media (max-width: 699px) {
  .svg--lg {
    display: none;
  }
}

@media (min-width: 700px) {
  .svg--sm {
    display: none;
  }
}